<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"></head>
</head>

<body>
    <div class="container">
        <div th:replace="~{fragment/header::header}"></div>

        <div class="border me-5">
            <div th:replace="~{fragment/category-tree::categoryTree(treeEntries=${categoryTree.rootCategories})}"></div>
        </div>

        <h1>Список продуктов</h1>

        <div class="container">
            <div class="d-flex">
                <div class="row row-cols-auto mt-5 mb-5 me-4">
                    <div th:each="product : ${products}" class="card col me-2" style="width: 18rem;">
                        <img th:src="@{${product.imageLink}}" class="card-img-top">
                        <div class="card-body">
                            <h5 th:text="${product.title}" class="card-title">Product title</h5>
                            <p th:text="${product.description}" class="card-text">Description</p>
                            <small th:text="${'Цена: ' + product.price + ' руб.'}" class="mb-5">Price</small>
                            <div class="justify-content mt-3">
                                <a th:href="@{/cart/add-to-cart(id=${product.id})}" href="#" class="btn btn-primary mb-2">В корзину</a>
                                <a th:href="@{/product/form(id=${product.id})}" href="#" class="btn btn-primary">Редактировать</a>
                                <a th:href="@{/product/delete(id=${product.id})}" href="#" class="btn btn-danger">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <form th:action="@{/product/list}" method="get">
                        <div class="mb-3">
                            <label for="title" class="form-label">MinPrice</label>
                            <input th:name="minPrice" id="title" type="number" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">MaxPrice</label>
                            <input th:name="maxPrice" id="price" type="number" class="form-control">
                        </div>

                        <button type="submit" class="btn btn-primary">Поиск</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>