<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new product</title>
</head>

<body>
<h2>Add product</h2>

<form th:action="@{'/product/add'}" th:object="${product}" method="post">
    id: <input type="text" th:field="*{id}"/>
    <br>
    Title: <input type="text" th:field="*{title}"/>
    <br>
    Description: <input type="text" th:field="*{description}"/>
    <br>
    Price: <input type="text" th:field="*{price}"/>
    <br>
    <button type="submit">Save</button>
</form>

</body>
</html>
