<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"></head>
    </head>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
        <a class="navbar-brand" href="#">GB Барахолка</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/product/list}">Список продуктов</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" th:href="@{/product/form}">Создать продукт</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" th:href="@{/category/form}">Создать категорию</a>
                </li>

                <li class="nav-item">
                    <a th:href="@{/user/list}" sec:authorize="hasRole('ADMIN')" class="btn btn-success me-2">Пользователи</a>
                </li>

                <li class="nav-item">
                    <a th:href="@{/login}" sec:authorize="isAnonymous()" class="btn btn-primary me-2">Войти</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/user/registration}" sec:authorize="isAnonymous()" class="btn btn-success me-2">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/cart/list}" sec:authorize="isAuthenticated()" class="btn btn-light me-2">Корзина</a>
                </li>
            </ul>
        </div>
    </nav>
</html>